@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

.content {
  flex: 1 1 auto;
}

.container {
  min-width: 100vw;
}

.header {
  background-color: #605957;
}
.header__top {
  background-color: white;
  font-size: clamp(7px, 1.5vw, 34px);
  line-height: clamp(-1px, 2vw, 36px);
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(7px, 1.5vw, 34px);
  line-height: clamp(-1px, 2vw, 36px);
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}
.header__list a {
  color: #1A1818;
}
.header__list-left {
  margin-left: 161px;
}
.header__list-left a:not(:last-child) {
  margin-right: 18px;
}
.header__list-right {
  margin-right: 161px;
}
.header__list-right a:not(:last-child) {
  margin-right: 18px;
}
.header__logo-name {
  text-align: center;
}
.header__logo-name p {
  font-size: clamp(49px, 1.5vw, 76px);
  line-height: clamp(46px, 2vw, 83px);
  letter-spacing: none;
  color: white;
  font-weight: 400;
  margin-top: 297px;
  margin-bottom: 40px;
}
.header__link {
  padding-bottom: 340px;
}
.header__link a {
  padding: 13px 21px;
  border-radius: 30px;
  background-color: #A05B4E;
  font-size: clamp(7px, 1.5vw, 34px);
  line-height: clamp(-1px, 2vw, 36px);
  letter-spacing: 0.6px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.first-frame__text {
  font-size: clamp(39px, 1.5vw, 66px);
  line-height: clamp(35px, 2vw, 72px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  margin: 51px 0 63px 30px;
}

.second-frame__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  margin: 0 30px;
}
.second-frame__left-column {
  position: relative;
}
.second-frame__left-column img {
  width: 555px;
  height: 686px;
}
.second-frame__left-column img:nth-child(2) {
  position: absolute;
  z-index: 0;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 496px;
}
.second-frame__left-column img:nth-child(3) {
  position: absolute;
  z-index: 5;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 519px;
}
.second-frame__botoom-name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
  margin-top: 6px;
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: none;
}
.second-frame__botoom-name p:nth-child(2) {
  margin-left: 400px;
}
.second-frame__right-column {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
.second-frame__right-column-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
.second-frame__right-column-row img {
  width: 263px;
  height: 328px;
}
.second-frame__cards-one-row:nth-child(1) a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #1A1818;
  border-radius: 40px;
  padding: 5px 10px;
  position: relative;
  top: -330px;
  left: 20px;
}
.second-frame__cards-one-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 227px;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 473px;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:nth-child(2) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 496px;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:nth-child(2) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 519px;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-one-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__cards-two-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 204px;
  border: 1px solid #fff;
}
.second-frame__cards-two-row:nth-child(1) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 227px;
  border: 1px solid #fff;
}
.second-frame__cards-two-row:nth-child(2) a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #1A1818;
  border-radius: 40px;
  padding: 5px 10px;
  position: relative;
  top: -330px;
  left: 20px;
}
.second-frame__cards-two-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 519px;
  border: 1px solid #fff;
}
.second-frame__cards-two-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-two-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__cards-three-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 181px;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(1) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 204px;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(1) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 227px;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 496px;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(2) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 519px;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-three-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__cards-fourth-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 181px;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(1) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 204px;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(1) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 227px;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #1A1818;
  border-radius: 40px;
  padding: 5px 10px;
  position: relative;
  top: -330px;
  left: 20px;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 450px;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 473px;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 496px;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(5) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  left: 519px;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-fourth-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__botoom-name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}

.threeth-frame {
  padding-top: 100px;
}
.threeth-frame__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.threeth-frame__column {
  text-align: left;
  margin: 0 auto;
}
.threeth-frame__title {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: clamp(49px, 1.5vw, 76px);
  line-height: clamp(46px, 2vw, 83px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.threeth-frame__text {
  margin-top: 15px;
  font-family: "Roboto";
  font-size: clamp(19px, 1.5vw, 46px);
  line-height: clamp(14px, 2vw, 51px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.threeth-frame__button {
  margin-top: 30px;
  background-color: #A05B4E;
  border-radius: 30px;
  text-align: center;
  padding: 13px 21px;
  width: 170px;
}
.threeth-frame__button a {
  color: #fff;
}
.threeth-frame__img {
  margin-right: 30px;
}
.threeth-frame__img img {
  width: 555px;
  height: 694px;
}

.fourth-frame {
  padding-top: 100px;
}
.fourth-frame__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}
.fourth-frame__img img {
  width: 555px;
  height: 694px;
}
.fourth-frame__column {
  margin-left: 30px;
}
.fourth-frame__title {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: clamp(49px, 1.5vw, 76px);
  line-height: clamp(46px, 2vw, 83px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.fourth-frame__text {
  margin-top: 15px;
  font-family: "Roboto";
  font-size: clamp(19px, 1.5vw, 46px);
  line-height: clamp(14px, 2vw, 51px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.fourth-frame__button {
  margin-top: 30px;
  background-color: #A05B4E;
  border-radius: 30px;
  text-align: center;
  padding: 13px 21px;
  width: 170px;
}
.fourth-frame__button a {
  color: #fff;
}