@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

.content {
  flex: 1 1 auto;
}

.container {
  min-width: 100vw;
  font-family: "Roboto";
}

.header {
  background-color: #605957;
}
.header__top {
  background-color: white;
  font-size: clamp(7px, 1.5vw, 34px);
  line-height: clamp(-1px, 2vw, 36px);
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(7px, 1.5vw, 34px);
  line-height: clamp(-1px, 2vw, 36px);
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}
.header__list a {
  color: #1A1818;
}
.header__list-left {
  margin-left: 161px;
}
.header__list-left a:not(:last-child) {
  margin-right: 18px;
}
.header__list-right {
  margin-right: 161px;
}
.header__list-right a:not(:last-child) {
  margin-right: 18px;
}
.header__logo-name {
  text-align: center;
}
.header__logo-name p {
  font-size: clamp(49px, 1.5vw, 76px);
  line-height: clamp(46px, 2vw, 83px);
  letter-spacing: none;
  color: white;
  font-weight: 400;
  margin-top: 297px;
  margin-bottom: 40px;
}
.header__link {
  padding-bottom: 340px;
}
.header__link a {
  padding: 13px 21px;
  border-radius: 30px;
  background-color: #A05B4E;
  font-size: clamp(7px, 1.5vw, 34px);
  line-height: clamp(-1px, 2vw, 36px);
  letter-spacing: 0.6px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.first-frame__text {
  font-size: clamp(39px, 1.5vw, 66px);
  line-height: clamp(35px, 2vw, 72px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  margin: 51px 0 63px 30px;
}

.second-frame__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  margin: 0 30px;
}
.second-frame__left-column {
  position: relative;
  margin-right: 30px;
}
.second-frame__left-column img {
  width: 100%;
}
.second-frame__left-column img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 1.25%;
  left: 90%;
}
.second-frame__left-column img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 1.25%;
  left: 94%;
}
.second-frame__botoom-name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
  margin-top: 6px;
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: none;
}
.second-frame__botoom-name p:nth-child(2) {
  margin-left: 400px;
}
.second-frame__right-column {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
.second-frame__right-column-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
.second-frame__right-column-row img {
  width: 100%;
}
.second-frame__cards-one-row:nth-child(1) a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #1A1818;
  border-radius: 40px;
  padding: 5px 10px;
  position: relative;
  top: -92%;
  left: 5%;
}
.second-frame__cards-one-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 42%;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 86%;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:nth-child(2) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 90%;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:nth-child(2) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 94%;
  border: 1px solid #fff;
}
.second-frame__cards-one-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-one-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__cards-two-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 38%;
  border: 1px solid #fff;
}
.second-frame__cards-two-row:nth-child(1) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 42%;
  border: 1px solid #fff;
}
.second-frame__cards-two-row:nth-child(2) a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #1A1818;
  border-radius: 40px;
  padding: 5px 10px;
  position: relative;
  top: -92%;
  left: 5%;
}
.second-frame__cards-two-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 94%;
  border: 1px solid #fff;
}
.second-frame__cards-two-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-two-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__cards-three-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 34%;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(1) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 38%;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(1) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 42%;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 90%;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:nth-child(2) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5%;
  left: 94%;
  border: 1px solid #fff;
}
.second-frame__cards-three-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-three-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__cards-fourth-row {
  margin-top: 14px;
}
.second-frame__cards-fourth-row:nth-child(1) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7%;
  left: 34%;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(1) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7%;
  left: 38%;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(1) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7%;
  left: 42%;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) a {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #1A1818;
  border-radius: 40px;
  padding: 5px 10px;
  position: relative;
  top: -92%;
  left: 5%;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(2) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7%;
  left: 82%;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(3) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7%;
  left: 86%;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(4) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7%;
  left: 90%;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:nth-child(2) img:nth-child(5) {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7%;
  left: 94%;
  border: 1px solid #fff;
}
.second-frame__cards-fourth-row:not(:last-child) {
  margin-right: 30px;
}
.second-frame__cards-fourth-row p:nth-child(2) {
  margin-left: 68px;
}
.second-frame__botoom-name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}

.threeth-frame {
  padding-top: 100px;
}
.threeth-frame__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.threeth-frame__column {
  text-align: left;
  margin: 0 auto;
}
.threeth-frame__title {
  text-transform: uppercase;
  font-size: clamp(49px, 1.5vw, 76px);
  line-height: clamp(46px, 2vw, 83px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.threeth-frame__text {
  margin-top: 15px;
  font-size: clamp(19px, 1.5vw, 46px);
  line-height: clamp(14px, 2vw, 51px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.threeth-frame__button {
  margin-top: 30px;
  background-color: #A05B4E;
  border-radius: 30px;
  text-align: center;
  padding: 13px 21px;
  width: 170px;
}
.threeth-frame__button a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #fff;
  font-weight: 400;
}
.threeth-frame__img {
  margin-right: 30px;
}
.threeth-frame__img img {
  width: 47vw;
}

.fourth-frame {
  padding-top: 100px;
}
.fourth-frame__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}
.fourth-frame__img img {
  width: 48.2vw;
}
.fourth-frame__column {
  margin-left: 30px;
}
.fourth-frame__title {
  text-transform: uppercase;
  font-size: clamp(49px, 1.5vw, 76px);
  line-height: clamp(46px, 2vw, 83px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.fourth-frame__text {
  margin-top: 15px;
  font-size: clamp(19px, 1.5vw, 46px);
  line-height: clamp(14px, 2vw, 51px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.fourth-frame__button {
  margin-top: 30px;
  background-color: #A05B4E;
  border-radius: 30px;
  text-align: center;
  padding: 13px 21px;
  width: 200px;
}
.fourth-frame__button a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #fff;
  font-weight: 400;
}

.fiveth-frame {
  padding-top: 100px;
}
.fiveth-frame__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.fiveth-frame__column {
  margin: 0 auto;
}
.fiveth-frame__title {
  text-transform: uppercase;
  font-size: clamp(49px, 1.5vw, 76px);
  line-height: clamp(46px, 2vw, 83px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.fiveth-frame__text {
  margin-top: 15px;
  font-size: clamp(19px, 1.5vw, 46px);
  line-height: clamp(14px, 2vw, 51px);
  letter-spacing: none;
  color: #1A1818;
  font-weight: 400;
}
.fiveth-frame__button {
  margin-top: 30px;
  background-color: #A05B4E;
  border-radius: 30px;
  text-align: center;
  padding: 13px 21px;
  width: 200px;
}
.fiveth-frame__button a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #fff;
  font-weight: 400;
}
.fiveth-frame__img {
  margin-right: 30px;
}
.fiveth-frame__img img {
  width: 47vw;
}

.sixth-frame {
  margin-top: 100px;
  background: url("/img/sixth-frame/1.png") center/cover no-repeat;
}
.sixth-frame__column {
  padding: 40px 0 516px 30px;
  height: 1600px;
}
.sixth-frame__title {
  text-transform: uppercase;
  font-size: clamp(44px, 1.5vw, 71px);
  line-height: clamp(39px, 2vw, 76px);
  letter-spacing: 1.08px;
  color: #FFF;
  font-weight: 400;
}
.sixth-frame__text {
  margin-top: 15px;
  font-size: clamp(19px, 1.5vw, 46px);
  line-height: clamp(14px, 2vw, 51px);
  letter-spacing: none;
  color: #FFF;
  font-weight: 400;
}
.sixth-frame__button {
  margin-top: 30px;
  background-color: #A05B4E;
  border-radius: 30px;
  width: 185px;
  text-align: center;
  padding: 13px 21px;
}
.sixth-frame__button a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #fff;
  font-weight: 400;
}

.seventh-frame__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.seventh-frame__row p {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #1A1818;
  font-weight: 400;
  margin: 0 -180px;
}

.eighth-frame__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.eighth-frame__left-column {
  width: 47vw;
  background: url(/img/eighth-frame/1.png) center/cover no-repeat;
  margin-left: 30px;
  padding: 443px 117px 0 30px;
}
.eighth-frame__title {
  font-size: clamp(48px, 1.5vw, 75px);
  line-height: clamp(39px, 2vw, 76px);
  letter-spacing: 1.08px;
  color: #fff;
  font-weight: 400;
}
.eighth-frame__button {
  background-color: #A05B4E;
  padding: 12px 21px;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 40px;
  position: relative;
  width: 190px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
.eighth-frame__button a {
  color: #fff;
}
.eighth-frame__right-column {
  width: 47vw;
  background: url(/img/eighth-frame/2.png) center/cover no-repeat;
  margin-right: 30px;
  padding: 482px 91px 0 30px;
}

.footer {
  margin-top: 100px;
  background-color: #A05B4E;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  text-align: center;
}
.footer__text {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #f1f1de;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 221px;
}
.footer__title {
  margin-top: 50px;
  font-size: clamp(19px, 1.5vw, 46px);
  line-height: clamp(14px, 2vw, 51px);
  letter-spacing: none;
  color: #f1f1de;
  font-weight: 400;
}
.footer__button {
  border-radius: 30px;
  border: 1px solid #f1f1de;
  width: 40vw;
  margin: 30px auto 0 auto;
  padding: 15px 30px;
  font-size: clamp(9px, 1.5vw, 36px);
  line-height: clamp(1px, 2vw, 38px);
  letter-spacing: 1.06px;
  color: #f1f1de;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__button a {
  color: #f1f1de;
}
.footer__line {
  background-color: #f1f1de;
  width: 95%;
  height: 2px;
  margin: 112px auto 40.5px auto;
}
.footer__row {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #f1f1de;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__row a {
  color: #f1f1de;
  margin-bottom: 40px;
}