//подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


// @font-face {
//   font-family: "Palatino";
//   src: url("../fonts/Palatino.eot");
//   src: local("☺"), url("../fonts/Palatino.woff") format("woff"), url("../fonts/Palatino.ttf") format("truetype"),
//     url("../fonts/Palatino.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

//нулевой стиль
@import "nulestyle.scss";
//файл с миксинами
@import "mixin.scss";

.wrapper {
  min-height: 100%; //full screen
  overflow-x: hidden;
  @include flex(flex, column, center, none);
}
.content {
  flex: 1 1 auto;
}
.container {
  min-width: 100vw;
}
//HEADER
.header {
  background-color: #605957;
  &__top {
    background-color: white;
    @include font(12px, 14px, 0.6px, #1A1818, 400);
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0;
  }
  &__list {
    @include flex(flex, row, space-between, center);
    @include font(12px, 14px, 0.6px, #1A1818, 400);
    text-transform: uppercase;
    margin-top: 20px;
    a {
      color: #1A1818;
      
    }
  }
  &__list-left {
    margin-left: 161px;
    a {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
    
  }
  &__list-right {
    margin-right: 161px;
    a {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }
  &__logo-name {
    text-align: center;
    p {
      @include font(54px, 61px, none, white, 400);
      margin-top: 297px;
      margin-bottom: 40px;
    }
  }
  &__link {
    padding-bottom: 340px;
    a {
      padding: 13px 21px;
      border-radius: 30px;
      background-color: #A05B4E;
      @include font(12px, 14px, 0.6px, white, 400);
      text-transform: uppercase;
    }
  }
}

// first frame
.first-frame {
  &__text {
    @include font(44px, 50px, none, #1A1818, 400);
    text-transform: uppercase;
    margin: 51px 0 63px 30px;
  }
}

// second frame
.second-frame {
  &__columns {
    @include flex(flex, row, space-between, none);
    margin: 0 30px;
  }
  &__left-column {
    position: relative;
    img {
      width: 555px;
      height: 686px;
      &:nth-child(2) {
        position: absolute;
        z-index: 0;
        width: 17px;
        height: 17px;
        top: 20px;
        left: 496px;
      }
      &:nth-child(3) {
        position: absolute;
        z-index: 5;
        width: 17px;
        height: 17px;
        top: 20px;
        left: 519px;
      }
    }
  }
  &__botoom-name {
    @include font_little(16px, 19px, none, #1A1818, 400);
    margin-top: 6px;
    @include flex(flex, none, none, none);
    p:nth-child(2) {
      margin-left: 400px;
    }
  }
  
  &__right-column {
    @include flex(flex, row, none, none);
  }
  &__right-column-row {
    position: relative;
    @include flex(flex, row, none, none);
    img {
      width: 263px;
      height: 328px;
    }
  }
  &__cards {
    &:nth-child(1) {
      a {
        @include font_little(12px, 14px, 0.6px, #1A1818, 400);
        text-transform: uppercase;
        border: 2px solid #1A1818;
        border-radius: 40px;
        padding: 5px 10px;
        position: relative;
        top: -330px;
        left: 20px;
      }
      img:nth-child(2) {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 20px;
        left: 227px;
      }
    }
    &:nth-child(2) {
      img { 
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 20px;
          left: 473px;
        }
        &:nth-child(3) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 20px;
          left: 496px
        }
        &:nth-child(4) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 20px;
          left: 519px;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    p:nth-child(2) {
      margin-left: 68px;
    }
  }
  &__botoom-name {
    @include font_little(16px, 19px, none, #1A1818, 400);
  }
}

// three frame
.threeth-frame {
}

// four frame
.fourth-frame {
}

// five frame
.fiveth-frame {
}

// six frame
.sixth-frame {
}

// seven-frame
.seventh-frame {
}

// eight-frame
.eighth-frame {
}

// ninth frame
.ninth-frame {
}

// tenth frame
.tenth-frame {
}

// eleven frame
.eleventh-frame {
}

// twelfth frame
.twelfth-frame {
}

// footer
.footer {
}
