//подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


// @font-face {
//   font-family: "Palatino";
//   src: url("../fonts/Palatino.eot");
//   src: local("☺"), url("../fonts/Palatino.woff") format("woff"), url("../fonts/Palatino.ttf") format("truetype"),
//     url("../fonts/Palatino.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

//нулевой стиль
@import "nulestyle.scss";
//файл с миксинами
@import "mixin.scss";

.wrapper {
  min-height: 100%; //full screen
  overflow-x: hidden;
  @include flex(flex, column, center, none);
}
.content {
  flex: 1 1 auto;
}
.container {
  min-width: 100vw;
  font-family: 'Roboto';
}
//HEADER
.header {
  background-color: #605957;
  &__top {
    background-color: white;
    @include font(12px, 14px, 0.6px, #1A1818, 400);
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0;
  }
  &__list {
    @include flex(flex, row, space-between, center);
    @include font(12px, 14px, 0.6px, #1A1818, 400);
    text-transform: uppercase;
    margin-top: 20px;
    a {
      color: #1A1818;
      
    }
  }
  &__list-left {
    margin-left: 161px;
    a {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
    
  }
  &__list-right {
    margin-right: 161px;
    a {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }
  &__logo-name {
    text-align: center;
    p {
      @include font(54px, 61px, none, white, 400);
      margin-top: 297px;
      margin-bottom: 40px;
    }
  }
  &__link {
    padding-bottom: 340px;
    a {
      padding: 13px 21px;
      border-radius: 30px;
      background-color: #A05B4E;
      @include font(12px, 14px, 0.6px, white, 400);
      text-transform: uppercase;
    }
  }
}

// first frame
.first-frame {
  &__text {
    @include font(44px, 50px, none, #1A1818, 400);
    text-transform: uppercase;
    margin: 51px 0 63px 30px;
  }
}

// second frame
.second-frame {
  &__columns {
    @include flex(flex, row, space-between, none);
    margin: 0 30px;
  }
  &__left-column {
    position: relative;
    margin-right: 30px;
    img {
      width: 100%;
      &:nth-child(2) {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 1.25%;
        left: 90%;
      }
      &:nth-child(3) {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 1.25%;
        left: 94%;
      }
    }
  }
  &__botoom-name {
    @include font_little(16px, 19px, none, #1A1818, 400);
    margin-top: 6px;
    @include flex(flex, none, none, none);
    p:nth-child(2) {
      margin-left: 400px;
    }
  }
  
  &__right-column {
    @include flex(flex, column, none, none);
  }
  &__right-column-row {
    position: relative;
    @include flex(flex, row, none, none);
    img {
      width: 100%;
    }
  }
  &__cards-one-row {
    &:nth-child(1) {
      a {
        @include font_little(12px, 14px, 0.6px, #1A1818, 400);
        text-transform: uppercase;
        border: 2px solid #1A1818;
        border-radius: 40px;
        padding: 5px 10px;
        position: relative;
        top: -92%;
        left: 5%;
      }
      img:nth-child(2) {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 5%;
        left: 42%;
        border: 1px solid #fff;
      }
    }
    &:nth-child(2) {
      img { 
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 86%;
          border: 1px solid #fff;
        }
        &:nth-child(3) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 90%;
          border: 1px solid #fff;
        }
        &:nth-child(4) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 94%;
          border: 1px solid #fff;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    p:nth-child(2) {
      margin-left: 68px;
    }
  }
  &__cards-two-row {
    &:nth-child(1) {
      img {
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 38%;
          border: 1px solid #fff;
        }
        &:nth-child(3) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 42%;
          border: 1px solid #fff;
        }
      }
    }
    &:nth-child(2) { 
      a {
        @include font_little(12px, 14px, 0.6px, #1A1818, 400);
        text-transform: uppercase;
        border: 2px solid #1A1818;
        border-radius: 40px;
        padding: 5px 10px;
        position: relative;
        top: -92%;
        left: 5%;
      }
      img {
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 94%;
          border: 1px solid #fff;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    p:nth-child(2) {
      margin-left: 68px;
    }
  }
  &__cards-three-row {
    &:nth-child(1) {
      img {
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 34%;
          border: 1px solid #fff;
        }
        &:nth-child(3) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 38%;
          border: 1px solid #fff;
        }
        &:nth-child(4) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 42%;
          border: 1px solid #fff;
        }
      }
    }
    &:nth-child(2) {
      img {
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 90%;
          border: 1px solid #fff;
        }
        &:nth-child(3) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 5%;
          left: 94%;
          border: 1px solid #fff;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    p:nth-child(2) {
      margin-left: 68px;
    }
  }
  &__cards-fourth-row {
    margin-top: 14px;
    &:nth-child(1) {
      img {
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 7%;
          left: 34%;
          border: 1px solid #fff;
        }
        &:nth-child(3) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 7%;
          left: 38%;
          border: 1px solid #fff;
        }
        &:nth-child(4) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 7%;
          left: 42%;
          border: 1px solid #fff;
        }
      }
    }
    &:nth-child(2) {
      a {
        @include font_little(12px, 14px, 0.6px, #1A1818, 400);
        text-transform: uppercase;
        border: 2px solid #1A1818;
        border-radius: 40px;
        padding: 5px 10px;
        position: relative;
        top: -92%;
        left: 5%;
      }
      img {
        &:nth-child(2) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 7%;
          left: 82%;
          border: 1px solid #fff;
        }
        &:nth-child(3) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 7%;
          left: 86%;
          border: 1px solid #fff;
        }
        &:nth-child(4) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 7%;
          left: 90%;
          border: 1px solid #fff;
        }
        &:nth-child(5) {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 7%;
          left: 94%;
          border: 1px solid #fff;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    p:nth-child(2) {
      margin-left: 68px;
    }
  }
  &__botoom-name {
    @include font_little(16px, 19px, none, #1A1818, 400);
  }
}

// three frame
.threeth-frame {
  padding-top: 100px;
  &__row {
    @include flex(flex, row, flex-end, center);
  }
  &__column {
    text-align: left;
    margin: 0 auto;
  }
  &__title {
    text-transform: uppercase;
    @include font(54px, 61px, none, #1A1818, 400);
  }
  &__text {
    margin-top: 15px;
    @include font(24px, 29px, none, #1A1818, 400);
  }
  &__button {
    margin-top: 30px;
    background-color: #A05B4E;
    border-radius: 30px;
    text-align: center;
    padding: 13px 21px;
    width: 170px;
    a {
      text-transform: uppercase;
      @include font_little(12px, 14px, 0.6px, #fff, 400);
    }
  }
  &__img {
    margin-right: 30px;
    img {
      width: 47vw;
    }
  }
}

// four frame
.fourth-frame {
  padding-top: 100px;
  &__row {
    @include flex(flex, row, flex-start, center);
    margin-left: 30px;
  }
  &__img {
    img {
      width: 48.2vw;
    }
  }
  &__column {
    margin-left: 30px;
  }
  &__title {
    text-transform: uppercase;
    @include font(54px, 61px, none, #1A1818, 400);
  }
  &__text {
    margin-top: 15px;
    @include font(24px, 29px, none, #1A1818, 400);

  }
  &__button {
    margin-top: 30px;
    background-color: #A05B4E;
    border-radius: 30px;
    text-align: center;
    padding: 13px 21px;
    width: 200px;
    a {
      text-transform: uppercase;
      @include font_little(12px, 14px, 0.6px, #fff, 400);
    }
  }
}

// five frame
.fiveth-frame {
  padding-top: 100px;
	&__row {
    @include flex(flex, row, flex-end, center);
  }
	&__column {
    margin: 0 auto;
	}
	&__title {
    text-transform: uppercase;
    @include font(54px, 61px, none, #1A1818, 400);
	}
	&__text {
    margin-top: 15px;
    @include font(24px, 29px, none, #1A1818, 400);
	}
	&__button {
    margin-top: 30px;
    background-color: #A05B4E;
    border-radius: 30px;
    text-align: center;
    padding: 13px 21px;
    width: 200px;
    a {
      text-transform: uppercase;
      @include font_little(12px, 14px, 0.6px, #fff, 400);
    }
	}
	&__img {
    margin-right: 30px;
    img {
      width: 47vw;
    }
	}
}

// six frame
.sixth-frame {
  margin-top: 100px;
  background: url("/img/sixth-frame/1.png") center/cover no-repeat;
  &__column {
    padding: 40px 0 516px 30px;
    height: 1600px;
  }
  &__title {
    text-transform: uppercase;
    @include font(49px, 54px, 1.08px, #FFF, 400);
  }
  &__text {
    margin-top: 15px;
    @include font(24px, 29px, none, #FFF, 400);
  }
  &__button {
    margin-top: 30px;
    background-color: #A05B4E;
    border-radius: 30px;
    width: 185px;
    text-align: center;
    padding: 13px 21px;
    a {
      text-transform: uppercase;
      @include font_little(12px, 14px, 0.6px, #fff, 400);
    }
  }
}

// seven-frame
.seventh-frame {
	&__row {
    @include flex(flex, row, space-between, center); 
    padding: 40px 0; 
    p {
      text-transform: uppercase;
      @include font_little(12px, 14px, 0.6px, #1A1818, 400);
      margin: 0 -180px;
    }
  }
}

// eight-frame
.eighth-frame {
	&__row {
    @include flex(flex, row, space-between, center);
	}
	&__left-column {
    width: 47vw;
    background: url(/img/eighth-frame/1.png) center/cover no-repeat ;
    margin-left: 30px;
    padding: 443px 117px 0 30px;
	}
	&__title {
    @include font(53px, 54px, 1.08px, #fff, 400);
	}
	&__button {
    background-color: #A05B4E;
    padding: 12px 21px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
    position: relative;
    width: 190px;
    text-align: center;
    @include font_little(12px, 14px, 0.6px, #fff, 400);
    text-transform: uppercase;
    a {
      color: #fff;
    }
	}
	&__right-column {
    width: 47vw;
    background: url(/img/eighth-frame/2.png) center/cover no-repeat ;
    margin-right: 30px;
    padding: 482px 91px 0 30px;
	}
}

// footer frame
.footer {
  margin-top: 100px;
  background-color: #A05B4E;
	&__column {
    @include flex(flex, column, center, none);
    text-align: center;
	}
	&__text {
    @include font_little(11px, 18px, 0.6px, #f1f1de, 400);
    text-transform: uppercase;
    margin-top: 221px;
	}
	&__title {
    margin-top: 50px;
    @include font(24px, 29px, none, #f1f1de, 400);
	}
	&__button {
    border-radius: 30px;
    border: 1px solid #f1f1de;
    width: 40vw;
    margin: 30px auto 0 auto;
    a {
      color: #f1f1de;
    }
    padding: 15px 30px;
    @include font(14px, 16px, 1.06px, #f1f1de, 400);
    text-transform: uppercase;
	}
	&__line {
    background-color: #f1f1de;
    width: 95%;
    height: 2px;
    margin: 112px auto 40.5px auto;
	}
	&__row {
    a {
      color: #f1f1de;
      margin-bottom: 40px;
    }
    @include flex(flex, none, space-between, center);
    margin: 0 60px;
    @include font_little(12px, 14px, 0.6px, #f1f1de, 400);
    text-transform: uppercase;
	}
}
